@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

body {
    background-color: rgb(228, 217, 200);
    font-family: 'Armata', sans-serif;
    text-align: center;
    margin-top: 3em;
    justify-content: center;
}

img.tableLogo{
    max-width: 50px;
    align-items: center;
    height: 100vh;

 }

